@media only screen and (max-width: 2000px) {
   
}

@media only screen and (max-width: 1600px) {
    #tableContainerSection, #tableFilterSection {
        width: 90vw;
        margin: 0 5vw 0 5vw;
    }
}
@media only screen and (max-width: 1350px) {
    #paginationHolder {
        height: 80%;
    }
    .vgpgColumn {
        display: none;
    }
}

@media only screen and (max-width: 1200px) {
    #filterSortHolder > button {
        margin-left: 2px;
        font-size: 1.0em;
        padding: 4px;
    }

    .imgColumn{
        width: 8% !important;
    }
    .nameColumn {
        width: 35% !important;
    }
    .brandColumn {
        width: 15%;
    }
    .flavorColumn {
        width: 18.75%;
    }
    .nicColumn {
        width: 12%;
    }
    .sizeColumn {
        width: 10%;
    }
}
@media only screen and (max-width: 900px) {
    #tableFilterSection {
        height: 10vh !important;
        padding: 2vh 0 7vh 0;  /*padding bottom to push up, since the header is overlapping it */
    }
    .brandColumn, .sizeColumn {
        display: none;
    }
}

@media only screen and (max-width: 650px) {
    #resultsElement {
        display:none;
    }
    #tableFilterSection {
        height: 2vh !important;
        padding: 1vh 0 5vh 0; /*padding bottom to push up, since the header is overlapping it */
    }
}
@media only screen and (max-width: 560px) {
    #filterSortHolder > button > span {
        display: none;
    }
    .paginationList{
        height:37px;
    }
    #paginationHolder li, #paginationHolder li:first-child, #paginationHolder li:last-child {
        padding: 6px 12px 4px 12px !important;
    }
}
@media only screen and (max-width: 465px) {
    #filterSortHolder > button {
        padding-left: 0px !important;
        margin-left: 0px;
    }
    .flavorColumn {
        display: none;
    }
}
@media only screen and (max-width: 375px) {
    .paginationList {
        height: 30px;
    }
    #paginationHolder li, #paginationHolder li:first-child, #paginationHolder li:last-child {
        padding: 2px 8px 0px 8px !important;
    }
    .nicColumn {
        display:none;
    }
}

@media only screen and (max-height: 775px) {
    #tableFilterSection {
        height: 3vh !important;
        padding: 1vh 0 7vh 0; /*padding bottom to push up, since the header is overlapping it */
    }
}
@media only screen and (max-height: 700px) {
    #filterSortModal {
        top: 0vh;
    }
}
@media only screen and (max-height: 500px) {
    #tableFilterSection {
        height: 3vh !important;
        padding: 1vh 0 10vh 0; /*padding bottom to push up, since the header is overlapping it */
    }
}

@media only screen and (max-height: 450px) {
    #tableFilterSection {
        height: 3vh !important;
        padding: 1vh 0 15vh 0; /*padding bottom to push up, since the header is overlapping it */
    }
}
