@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);

/* the table holder*/
#tableContainerSection {
    height: 70vh;
    width: 80vw;
    margin: 0 10vw 0 10vw;
    position: relative;
}
/* contains the table to create the scroll effect */
#tableContainerDiv {
    height: 100%;
    width: 100%;
    margin: 0;
    overflow-y: auto;
}

/* the table */
table {
    height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    border-collapse: collapse;
    border-spacing:0;
}

/* row for the headers. place them above the table 
    to enable the scrolling of the table
*/
thead > tr {
    width: 100%;
    height: 3vh;
    position: sticky;
    max-width: 100%;
    padding: 0;
    margin: 0;
    top: -0.05vh;
    background-color: #5C7DFD !important;
}
thead > tr > th {
    padding:0;
    margin:0;
    position:sticky;
    text-align:center;
    border: 1px solid #ddd;
}
/* container for the text in each <th> */
thead > tr > th > span {
    position:static;
    font-size:1em;
    z-index: 2;
    display: inline-block;
}

/* class for each column: sets the width*/
.imgColumn {
    width: 5% !important;
}
.nameColumn {
    width: 40% !important;
}
.nameColumn a {
    text-underline-offset: 0.1em;
}
.brandColumn {
    width: 15%;
}
.flavorColumn {
    width: 18.75%;
}
.nicColumn {
    width: 8%;
}
.sizeColumn {
    width: 6%;
}
.vgpgColumn {
    width: 8%;
}
.webIcon {
    width: 28px;
    height: 28px;
    margin-right: 7px;
}

/* row of the table*/
tbody tr {
    width:100%;
    max-width:100%;
    height: 5vh;
    max-height: 5vh;
}

/* cell of the table*/
tbody td {
    height: 100%;
    border: 1px solid #ddd;
    padding: 8px;

    max-width: 1px !important; /*enforces the overflow of text*/
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/* image of each row */
.imgColumn img {
    width: 50px;
    height: 50px;
    object-fit: contain;
    cursor: pointer;
    transition: 0.3s;
}
.imgColumn img:hover {
    opacity: 0.7;
}

/* modal that displays and zooms the iamge when the image
    is clicked on
*/
/* The Modal (background) */
#imgModal {
    position: fixed;
    z-index: 3;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
    background-color: rgba(0,0,0,0.9);
}
/* Modal Content (image) */
#imgModalContent {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    /* animation */
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}
/* zoom effect */
@-webkit-keyframes zoom {
    from {
        -webkit-transform: scale(0)
    }

    to {
        -webkit-transform: scale(1)
    }
}
@keyframes zoom {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}

/* close button for the modal */
#imgModalClose {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
    cursor: pointer;
}

#imgModalClose:hover #imgModalClose:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* hides/displays rows if the table is not full */
.hiddenRow {
    display: none;
}

.visibleRow {
    display: table-row;
}

/* styling */
table tr:nth-child(odd) {
    background-color: #f2f2f2;
}

.centerText {
    text-align: center;
}

.leftAlign {
    text-align: left;
}

table tr:hover {
    background-color: #ddd;
}

.emptyCell {
    color: gray;
    cursor: default;
}

/* scrollbar */
::-webkit-scrollbar {
    width: 1px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}