main {
    height: 80vh;
    box-sizing:border-box;
    position:relative;
}

/* top navigation bar*/
.navbar {
    height: 20vh;
}
.titleContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:black;
}
#navBarTitle {
    font-size: 120px;
    text-transform: uppercase;
    font-family: 'Gambetta', serif;
    letter-spacing: -3px;
    transition: 700ms ease;
    padding:10px 0 0 0;
    color: #FDDC5C;
    outline: none;
    text-align: center;
}

/* the table*/
#tableContainer {
    height:100%;
    padding:0 10vw 0 10vw;
    margin: 0 0 0 0;
    overflow: auto;
}
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);
table {
    font-family: 'Roboto', sans-serif;
    border-collapse: collapse;
    height: 100%;
    top:0;
}
th {
    position: sticky;
    top: 0px;
    border: 1px solid #ddd;
    padding: 8px;
    padding-top: 18px;
    padding-bottom: 18px;
    white-space: nowrap;
    background-color: #BBA151 !important;
    border-top: 0;
}
td {
    width: 70px;
    height: 70px;
    border: 1px solid #ddd;
    padding: 8px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 1px !important; /*enforces the overflow of text*/
}

table tr:nth-child(odd) {
    background-color: #f2f2f2;
}
table .centerText{
    text-align:center;
}
table tr:hover {
    background-color: #ddd;
}

/* image of each row */
.imgColumn img {
    width: 50px;
    height: 50px;
    object-fit: contain;
    cursor: pointer;
    transition: 0.3s;
}
.imgColumn img:hover{
    opacity: 0.7;
}

/* The Modal (background) */
#imgModal {
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
    background-color: rgba(0,0,0,0.9);
}

/* Modal Content (image) */
#imgModalContent {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;

    /* Add Animation */
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {
        -webkit-transform: scale(0)
    }
    to {
        -webkit-transform: scale(1)
    }
}
@keyframes zoom {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}

/* The Close Button */
#imgModalClose {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}
#imgModalClose:hover,
#imgModalClose:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
    #imgModalContent {
        width: 100%;
    }
}


/* footer */
footer {
    padding: 0;
    margin: 50px 0 0 0;
    height:40px;
    width:100vw;
    text-align: center;
    background-color: black;
    color: white;
    position:relative;
    bottom:0;
}