html{
    height:100vh;
    width:100vw;
}
body {
    height: 100vh;
    width: 100vw;
}

/* top navigation bar*/
header {
    height: 20vh;
    width: 100vw;
    max-height: 20vh !important;
}

.titleContainer {
    width: 100%;
    background-color: black;
}
#navBarTitle {
    max-height: 20vh !important;
    font-size: 10vh;
    color: #FDDC5C;
    text-transform: uppercase;
    font-family: 'Gambetta', serif;
    transition: 700ms ease;
    padding: 10px 0 0 0;
    outline: none;
    text-align: center;
}

/* main */
main {
    height: 69%;
    box-sizing: border-box;
    position: relative;
    margin-top: 5px;
}

/* page alert message*/
#pageAlert {
    position: absolute;
    padding: 0 !important;
    margin: 0;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    height: 50px;
    min-width: 10vw;
    max-width: 70vw;
}
#pageAlert > div{
    display: inline-block;
    position: relative !important;
    padding: 13px 0px 13px 13px;
    max-width:90%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
#pageAlert > button{
    display: inline-block;
    position: relative !important;
    top: -16px;
    margin-left:20px;
    padding: 13px 20px 13px 0px;
    bottom:15px;
}

/* the filter and pagination for the table*/
#tableFilterSection {
    padding: 0;
    height: 5vh;
    margin: 0 10vw 5vh 10vw;
    display: grid;
    grid-template-columns: 65% 10% 25%;
}
#filterSortHolder {
    /*border: 1px solid black;*/
}
#filterSortHolder > button{
    margin-top:5px;
    margin-left:10px;
    font-size:1.3em;
}
#filterSortHolder #filterSortBadges{
    display:inline-block;
}

#resultsElement {
    display: inline-block;
    margin-top: 7px;
    border: 1px solid black;
}

#paginationHolder {
    display: inline-block;
    border: 1px solid black;
}

ul {
    margin: 0;
    list-style: none;
}
.disabled{
    cursor:default !important;
    pointer-events:none;
    color:gray;
}
.paginationList a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    cursor:pointer;
}
/* Style the active/current link */
#innerPagesHolder .active {
    background-color: dimgray;
    color: white;
    pointer-events:none;
}

/* Add a grey background color on mouse-over */
.paginationList a:hover:not(.active) {
    background-color: #ddd;
}


/* the table holder*/
#tableContainerSection {
    height: 100%;
    margin: 0 10vw 0 10vw;
    position: relative;
}

#loadingSpinner {
    position: absolute;
    /*left: 40vw;*/
    left:40%;
    top:20%;
    width: 200px;
    height: 200px;
}

/* contains the table to create the scroll effect */
#tableContainerDiv {
    height: 100%;
    margin: 0;
    overflow: auto;
}

@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);

table {
    font-family: 'Roboto', sans-serif;
    border-collapse: collapse;
    height: 100%;
    width: 100%;
}

.hiddenRow{
    display:none;
}
.visibleRow {
    display: table-row;
}

/* scroll bar styling*/
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 0;
}

::-webkit-scrollbar-thumb {
    border-radius: 0px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

/* the holder for each header. makes it absolute
    and above the scroll bar */
thead tr th span {
    position: absolute;
    top: -34px;
    z-index: 2;
    height: 36px;
    display: inline-block;
    background-color: #5C7DFD !important;
    padding-top: 7px;
    text-align: center;
    align-content: center;
}
/* class for each column: sets the width*/
.imgColumn {
    width: 5%;
}
.nameColumn {
    width: 40%;
}
.nameColumn a{
    text-underline-offset: 0.1em;
}
.brandColumn {
    width: 15%;
}
.flavorColumn {
    width: 18.75%;
}
.nicColumn {
    width: 8%;
}
.sizeColumn {
    width: 6%;
}
.vgpgColumn {
    width: 8%;
}

.webIcon {
    width: 28px;
    height: 28px;
    margin-right:7px;
}

/* for each cell of the table*/
td {
    height: 70px;
    border: 1px solid #ddd;
    padding: 8px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 1px !important; /*enforces the overflow of text*/
}

/* styling */
table tr:nth-child(odd) {
    background-color: #f2f2f2;
}

.centerText {
    text-align: center;
}

.leftAlign {
    text-align: left;
}

table tr:hover {
    background-color: #ddd;
}

.emptyCell {
    color: gray;
    cursor: default;
}

/* image of each row */
.imgColumn img {
    width: 50px;
    height: 50px;
    object-fit: contain;
    cursor: pointer;
    transition: 0.3s;
}
.imgColumn img:hover {
    opacity: 0.7;
}

/* modal that displays and zooms the iamge when the image
    is clicked on
*/
/* The Modal (background) */
#imgModal {
    position: fixed;
    z-index: 3;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
    background-color: rgba(0,0,0,0.9);
}
/* Modal Content (image) */
#imgModalContent {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    /* animation */
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}
/* zoom effect */
@-webkit-keyframes zoom {
    from {
        -webkit-transform: scale(0)
    }

    to {
        -webkit-transform: scale(1)
    }
}
@keyframes zoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

/* close button for the modal */
#imgModalClose {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
    cursor:pointer;
}

#imgModalClose:hover #imgModalClose:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
    #imgModalContent {
        width: 100%;
    }
}

.modal-header{
    padding:0 0 10px 0;
    margin:16px 22px 10px 22px;
}
/* filter modal */
#filterSortModal {
    top: 20vh;
}
.modal-content, .modal-content input, .modal-content select{
    background-color: rgb(248,249,250);
}
#filterSortModal form {
    display: grid;
    gap: 5px 15px;
    grid-template-columns: 47.5% 47.5%;
}
#filterSortModal form label{
    padding-bottom:0;
    margin-bottom:0;
    margin-left:2px;
}
#filterSortModal form .minMaxFiltersContainer {
    display:flex;
    flex-direction:row;
}
#filterSortModal form .minMaxFilters input {
    display: inline-block;
    height:38px;
}
#filterSortModal form .minMaxFilters input + input {
    margin-left:10px;
}
#filterSortModal form #vgpgInput {
    display:inline-block;
    width: 45% !important;
}
#filterSortModal form #brandInput{
    display:inline-block;
    width: 48% !important;
}

#filterSortModal form .modal-footer button, #ageVerificationModal button{
    --bs-btn-bg: #7c95ae;
    --bs-btn-border-color: #7c95ae;
    --bs-btn-hover-bg: #617f9c;
    --bs-btn-hover-border-color: #617f9c;
    --bs-btn-active-bg: #617f9c;
    --bs-btn-disabled-bg: #617f9c;
}
.modal-footer {
    width: 100%;
    padding-bottom: 0;
    padding-right:0;
}
.modal-footer button{
    margin:2px 0 0 10px;
}

/*filter pills/badge for the select of nic and vgpg */
#filterForm span.badge {
    margin: 0 0 0 6px;
    padding: 2px 2px 0px 4px;
    cursor: default;
    background-color: #7c95ae !important;
}
#filterForm span.badge button {
    padding: 0;
    width: 8px;
    margin: 1px 2px 3px 3px;
    vertical-align: middle;
    color: gray
}
#filterForm #brandFilterDiv span.badge {
    max-width: 15.5%;
}
#filterForm #brandFilterDiv span.badge span{
    display:inline-block;
    max-width:70%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    vertical-align:middle;
}

/* filter warning message */
#filterMessage {
    margin: 0 0 0 20px;
    padding: 0 10px 0 10px;
    max-height: 30px;
    max-width: 350px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: default;
}

/* age verification modal */
#ageVerificationModal .modal-content{
    padding:16px;
}

/* footer */
footer {
    padding: 0;
    width: 100vw;
    max-width:100vw;
    background-color: black;
    color: white;
    position: sticky;
    top: 100vh;
    height: 10vh;
}
footer > h4{
    font-size:1vw;
    color: #FDDC5C;
    max-width:90%;
    padding:0px 50px 0px 50px;
    margin:0;
    display:inline-block;
    position:relative;
    text-align:left;
    top:10px;
}

footer > button{
    display:inline-block;
    position:absolute;
    right:50px;
    top: 25%;
    background-color: #FDDC5C;
    height:50%;
    width:8%;
    font-size:1.4em;
}