/* top navigation bar*/
.navbar {
    height: 20vh;
}

.titleContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
}

#navBarTitle {
    font-size: 120px;
    text-transform: uppercase;
    font-family: 'Gambetta', serif;
    letter-spacing: -3px;
    transition: 700ms ease;
    padding: 10px 0 0 0;
    color: #FDDC5C;
    outline: none;
    text-align: center;
}

/* main */
main {
    height: 70vh;
    box-sizing: border-box;
    position: relative;
    margin-top: 5px;
}
/* the filter and pagination for the table*/
#tableFilterSection {
    padding: 0;
    height: 5vh;
    margin: 0 10vw 5vh 10vw;
    display: grid;
    grid-template-columns: 65% 10% 25%;
}
#filterSortHolder {
    border: 1px solid black;
}
#filterSortHolder button{
    margin-top:5px;
    margin-left:10px;
}

#resultsElement {
    display: inline-block;
    margin-top: 7px;
    border: 1px solid black;
}

#paginationHolder {
    display: inline-block;
    border: 1px solid black;
}

ul {
    margin: 0;
    list-style: none;
}
.disabled{
    cursor:default !important;
    pointer-events:none;
    color:gray;
}
.paginationList a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    cursor:pointer;
}
/* Style the active/current link */
#innerPagesHolder .active {
    background-color: dimgray;
    color: white;
    pointer-events:none;
}

/* Add a grey background color on mouse-over */
.paginationList a:hover:not(.active) {
    background-color: #ddd;
}


/* the table holder*/
#tableContainerSection {
    height: 100%;
    margin: 0 10vw 0 10vw;
    position: relative;
}

#loadingSpinner {
    position: absolute;
    /*left: 40vw;*/
    left:40%;
    top:20%;
    width: 200px;
    height: 200px;
}

/* contains the table to create the scroll effect */
#tableContainerDiv {
    height: 100%;
    margin: 0;
    overflow: auto;
}

@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);

table {
    font-family: 'Roboto', sans-serif;
    border-collapse: collapse;
    height: 100%;
    width: 100%;
}

.hiddenRow{
    display:none;
}
.visibleRow {
    display: table-row;
}

/* scroll bar styling*/
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 0;
}

::-webkit-scrollbar-thumb {
    border-radius: 0px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

/* the holder for each header. makes it absolute
    and above the scroll bar */
thead tr th span {
    position: absolute;
    top: -34px;
    z-index: 2;
    height: 36px;
    display: inline-block;
    background-color: #5C7DFD !important;
    padding-top: 7px;
    text-align: center;
    align-content: center;
}
/* class for each column: sets the width*/
.imgColumn {
    width: 5%;
}
.nameColumn {
    width: 40%;
}
.nameColumn a{
    text-underline-offset: 0.1em;
}
.brandColumn {
    width: 15%;
}
.flavorColumn {
    width: 18.75%;
}
.nicColumn {
    width: 8%;
}
.sizeColumn {
    width: 6%;
}
.vgpgColumn {
    width: 8%;
}

.webIcon {
    width: 28px;
    height: 28px;
    margin-right:7px;
}

/* for each cell of the table*/
td {
    height: 70px;
    border: 1px solid #ddd;
    padding: 8px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 1px !important; /*enforces the overflow of text*/
}

/* styling */
table tr:nth-child(odd) {
    background-color: #f2f2f2;
}

.centerText {
    text-align: center;
}

.leftAlign {
    text-align: left;
}

table tr:hover {
    background-color: #ddd;
}

.emptyCell {
    color: gray;
    cursor: default;
}

/* image of each row */
.imgColumn img {
    width: 50px;
    height: 50px;
    object-fit: contain;
    cursor: pointer;
    transition: 0.3s;
}
.imgColumn img:hover {
    opacity: 0.7;
}

/* modal that displays and zooms the iamge when the image
    is clicked on
*/
/* The Modal (background) */
#imgModal {
    position: fixed;
    z-index: 3;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
    background-color: rgba(0,0,0,0.9);
}
/* Modal Content (image) */
#imgModalContent {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    /* animation */
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}
/* zoom effect */
@-webkit-keyframes zoom {
    from {
        -webkit-transform: scale(0)
    }

    to {
        -webkit-transform: scale(1)
    }
}
@keyframes zoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

/* close button for the modal */
#imgModalClose {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
    cursor:pointer;
}

#imgModalClose:hover #imgModalClose:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
    #imgModalContent {
        width: 100%;
    }
}

.modal-header{
    padding:0 0 10px 0;
    margin:16px 22px 10px 22px;
}
/* filter modal */
#filterSortModal {
    top: 20vh;
}
.modal-content, .modal-content input, .modal-content select{
    background-color: rgb(248,249,250);
}
#filterSortModal form {
    display: grid;
    gap: 5px 15px;
    grid-template-columns: 47.5% 47.5%;
}
#filterSortModal form label{
    padding-bottom:0;
    margin-bottom:0;
    margin-left:2px;
}
#filterSortModal form .minMaxFiltersContainer {
    display:flex;
    flex-direction:row;
}
#filterSortModal form .minMaxFilters input {
    display: inline-block;
    height:38px;
}
#filterSortModal form .minMaxFilters input + input {
    margin-left:10px;
}
#filterSortModal form #vgpgInput {
    display:inline-block;
    width: 45% !important;
}
#filterSortModal form #brandInput{
    display:inline-block;
    width: 48% !important;
}

#filterSortModal form .modal-footer button {
    --bs-btn-bg: #7c95ae;
    --bs-btn-border-color: #7c95ae;
    --bs-btn-hover-bg: #617f9c;
    --bs-btn-hover-border-color: #617f9c;
    --bs-btn-active-bg: #617f9c;
}
.modal-footer {
    width: 100%;
    padding-bottom: 0;
    padding-right:0;
}
.modal-footer button{
    margin:2px 0 0 10px;
}

/*filter pills */
span.badge {
    margin: 0 0 0 6px;
    padding: 2px 2px 0px 4px;
    cursor: default;
    background-color: #7c95ae !important;
}
span.badge button{
    padding:0;
    width:8px;
    margin:1px 2px 3px 3px;
    vertical-align:middle;
    color:gray
}
#brandFilterDiv span.badge {
    max-width: 15.5%;
}
#brandFilterDiv span.badge span{
    display:inline-block;
    max-width:70%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    vertical-align:middle;
}

/* filter warning message */
#filterMessage {
    margin: 0 0 0 20px;
    padding: 0 10px 0 10px;
    max-height: 30px;
    max-width: 350px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: default;
}

/* footer */
footer {
    padding: 0;
    margin: 50px 0 0 0;
    height: 4vh;
    width: 100vw;
    text-align: center;
    background-color: black;
    color: white;
    position: relative;
    bottom: 0;
    left: 0;
}
