<!-- templates/base.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>

    <link rel="stylesheet" href="static/style.css">


    <title>Vape Finder</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
</head>
<body>
    <div class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid titleContainer">
            <h1 id="navBarTitle" class="navbar-brand">Vape Finder</h1>
        </div>
    </div>

    <main>
        {% block bodyblock %}
        {% endblock bodyblock %}
    </main>

</body>
</html>

