<!-- modal for filter -->
<section class="modal fade" id="filterSortModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title fs-5" id="modalLabel">Filter</h2>
                <div id ="filterMessage" class="alert alert-primary align-items-center" role="alert" style="display:none !important">
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <form class="modal-body" method="get" id="filterForm">
                <!-- name search -->
                <div class="mb-3" id="nameFilterDiv">
                    <label for="nameInput" class="form-label">Name</label>
                    <input type="text" class="form-control" id="nameInput" maxlength="255">
                </div>
                <!-- flavor search -->
                <div class="mb-3" id="flavorFilterDiv">
                    <label for="flavorInput" class="form-label">Flavor</label>
                    <input type="text" class="form-control" id="flavorInput" placeholder="blueberry, mango, etc.." maxlength="50">
                </div>
                <!-- nicotine min/max select -->
                <div class="mb-3 minMaxFilters" id="nicFilterDiv">
                    <label form-label">Nicotine</label><br />
                    <div class="minMaxFiltersContainer"></div>
                </div>
                <!-- size min/max select -->
                <div class="mb-3 minMaxFilters" id="sizeFilterDiv">
                    <label class="form-label">Size</label><br />
                    <div class="minMaxFiltersContainer"></div>
                </div>
                <!-- website select -->
                <div class="mb-3" id="webFilterDiv">
                    <label for="webInput" class="form-label">Website</label>
                    <select class="form-select" id="webInput">
                    </select>
                </div>
                <!-- vgpg select -->
                <div class="mb-3" id="vgpgFilterDiv">
                    <label for="vgpgInput" class="form-label d-block">VG/PG</label>
                    <select class="form-select" id="vgpgInput">
                    </select>
                </div>
                <!-- brand select -->
                <div class="mb-3" id="brandFilterDiv" style="grid-column:1/3">
                    <label for="brandInput" class="form-label">Brand</label><br />
                    <select class="form-select" id="brandInput">
                    </select>
                </div>
                <div class="modal-footer" style="grid-column: 1/3">
                    <button type="button" class="btn btn-primary" id="formResetButton">Reset</button>
                    <button type="submit" class="btn btn-primary">Apply</button>
                </div>
            </form>
        </div>
    </div>
</section>