{% extends 'base.html' %}

{% block bodyblock %}
<section id="tableFilterSection">
    <span id="filter"></span>
    <span id="resultsElement">
        {{ constantsValues.totalItems }} item{{ 's' if constantsValues.totalItems != 1 else '' }} found
    </span>
    <div id="paginationHolder">
        <ul class="paginationList">
            <li class="pageItem"><a id="prevPage">&lt;</a></li>
            <li>
                <ul id="innerPagesHolder"></ul>
            </li>
            <li class="pageItem"><a id="nextPage">&gt;</a></li>
        </ul>
    </div>
</section>

<section id="tableContainerSection">
    <div style="display:none" id="loadingSpinner" class="spinner-grow text-dark"></div>
    <div id="tableContainerDiv">
        <table class="table-hover align-middle">
            <thead>
                <tr class="leftAlign">
                    <th><span class="imgColumn">Image</span></th>
                    <th><span class="nameColumn">Name</span></th>
                    <th><span class="brandColumn">Brand</span></th>
                    <th><span class="flavorColumn">Flavor</span></th>
                    <th><span class="nicColumn">Nicotine (mg)</span></th>
                    <th><span class="sizeColumn">Bottle (ml)</span></th>
                    <th><span class="vgpgColumn">VG/PG</span></th>
                </tr>
            </thead>
            <tbody>
                {% for item in lst %}
                <tr>
                    <!-- image -->
                    <td class="imgColumn centerText">
                        <img class="img-thumbnail" src="{{item.productImageLink}}">
                    </td>

                    <!-- name -->
                    <td class="nameColumn">
                        <a target="_blank" href="{{item.getWebUrl()}}"><img class="webIcon" src="{{item.getWebIcon()}}"/></a>
                        <a href="{{item.itemLink}}" class="link-dark" target="_blank">{{item.name}}</a>
                    </td>

                    <!-- brand -->
                    {% if item.brand|length > 0 %}
                    <td class="brandColumn">{{item.brand}}</td>
                    {% else %}
                    <td class="brandColumn emptyCell">{{constantsValues.noDataVariable}}</td>
                    {% endif %}

                    <!-- flavor -->
                    {% if item.getFlavors()|length > 0 %}
                    <td class="flavorColumn">
                        {% for flav in item.getFlavors()%}
                        {{ flav }}{% if not loop.last %},{% endif %}
                        {% endfor %}
                    </td>
                    {% else %}
                    <td class="flavorColumn emptyCell">{{constantsValues.noDataVariable}}</td>
                    {% endif %}

                    <!-- nicotine level -->
                    {% if item.getNics()|length > 0 %}
                    <td class="nicColumn centerText">
                        {% for nicLvl in item.getNics() %}
                        {{ nicLvl }}{% if not loop.last %},{% endif %}
                        {% endfor %}
                    </td>
                    {% else %}
                    <td class="nicColumn emptyCell centerText">{{constantsValues.noDataVariable}}</td>
                    {% endif %}

                    <!-- bottle size -->
                    {% if item.getSizes()|length > 0 %}
                    <td class="sizeColumn centerText">
                        {% for size in item.getSizes() %}
                        {{ size }}{% if not loop.last %},{% endif %}
                        {% endfor %}
                    </td>
                    {% else %}
                    <td class="sizeColumn emptyCell centerText">{{constantsValues.noDataVariable}}</td>
                    {% endif %}

                    <!-- VG/PG -->
                    {% if item.getVgpgs()|length > 0 %}
                    {% for vgpg in item.getVgpgs() %}
                    <td class="vgpgColumn centerText">{{vgpg}}</td>
                    {% endfor %}
                    {% else %}
                    <td class="vgpgColumn emptyCell centerText">{{constantsValues.noDataVariable}}</td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</section>
{% endblock bodyblock %}
